html {
  font-size: 16px;
}

body {
  background-color: rgba(52, 73, 94,1.0);
  color: rgba(189, 195, 199,1.0);
  font-size:1.3em;
  font-family: 'Eczar', serif;
}

p.sprachen {
  width:50px;
  font-size:1.4em;
  text-align:left;
  margin-bottom: 0;
  margin-top: 0;
}

p.sprachen .flag-de {
  margin-bottom:-8px;
}

p.sprachen .flag-en {
  margin-bottom:-5px;
}

p.sprachen span.sprache a {
  border-bottom:none !important;
  padding:0 !important;
}

p.sprachen span.sprache svg {
  float:left;
  width: 1em;
  height: 1em;
}

p.sprachen span.sprache span.literal {
  padding-left:4px;
}
