html {
  font-size: 16px;
}

body {
  background-color: rgba(52, 73, 94,1.0);
  color: rgba(189, 195, 199,1.0);
  font-size:1.3em;
  font-family: 'Eczar', serif;
}

header p.teaser {
  line-height: 1.10;
  padding-top: 0.8em;
}

/* navigation, scroll - fixed */
nav.tmpl-nav {
  background-color: rgba(189, 195, 199,1.0);
  font-size: 1.4em;
}

nav.tmpl-nav ul {
  list-style-type: none;
}

nav.tmpl-nav ul li {
  display: inline-block;
  padding-right: 0.8em;
  margin-bottom: 0.6em;
}

nav.tmpl-nav ul li:last-child {
  padding-right: 0;
}

nav.tmpl-nav a {
  text-decoration: none;
  color: rgba(52, 73, 94,1.0);
  border-bottom: 2px dashed;
}

nav.tmpl-nav a:hover {
  border-bottom: 2px solid;
}

#sticky-wrapper.is-sticky {
  z-index: 9999;
  margin-bottom: 60px;
}

#sticky-wrapper.is-sticky nav {
  height: 60px;
}

#sticky-wrapper.is-sticky nav ul {
  margin-top: 5px;
}

#sticky-wrapper.is-sticky nav ul a {
  border-bottom: 2px dashed;
  line-height:1;
  display: inline-block;
}

section#main-section-one:target,
section#main-section-two:target,
section#main-section-three:target {
  padding-top:60px;
}

/* language chooser */
.sprache {
  width:50px;
  font-size:1.4em;
  margin-bottom: 0;
  margin-top: 0;
  float: right;
}

.sprachen .flag-de {
  margin-bottom:-32px;
}

.sprachen .flag-en {
  margin-bottom:-6px;
}

.sprachen span.sprache a {
  border-bottom:none !important;
  padding:0 !important;
}

.sprachen span.sprache svg {
  width: 1em;
  height: 1em;
}

h2 {
  font-size: 1.8em;
}

div.para1,
div.para2,
div.para3 {
  padding: 0;
}

.parallax-window {
  min-height: 250px;
  background: transparent;
}

/* resp. media queries */
@media (max-width: 768px) {
  header p.teaser {
    padding-top: 0;
    margin-top: 0;
  }
  .sprache {
    float: left;
  }
  .sprachen .flag-de {
    margin-bottom:0;
  }
  .sprachen .flag-en {
    margin-bottom:0;
  }
}

@media (max-width: 560px) {
  nav.tmpl-nav {
    font-size: 1.2em;
  }
}

@media (max-width: 420px) {
  nav.tmpl-nav {
    font-size: 1.1em;
  }
}
